html {
    display: block; 
    width: 100%; 
}

body {
    width: 100%; 
    background-color: #13192F;
    font-family: 'Inter', sans-serif;
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin: 0; 
    padding: 0;
}

.content-container {
    background-color: #13192F;
    max-width: 1100px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 767px) {
    body {
        width: 100%; 
    }
    
    .content-container {
        max-width: 100%;
        padding: 0 10px; 
    }
}
