.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative; 
    width: 100%;
    max-width: 944px;
    padding: 60px 20px;
    gap: 15px;
    margin: 0 auto;
}

.ribbons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 154.59px 20px 154.59px; 
    gap: 23.9px; 
    margin: 0 auto; 
}

.ribbon-item {
    position: relative;
    width: 185px;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF; 
}

.ribbon-item .container {
    position: relative;
    z-index: 9;
}

.ribbon-item .label {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 5px;
}

.rating {
    margin-top: 30px;
}

.rating p {
    font-size: 13px;
    font-weight: 600;
    line-height: 21px;
}

.ribbon-item .store {
    font-size: 13px;
    font-weight: 600;
    line-height: 21px;
    margin-top: 5px; 
}

.ribbon-item img {
    position: absolute;
    width: 100%; 
    height: 100%; 
    z-index: 1; 
}

.widget-one, .widget-two, .widget-three, .widget-four
, .widget-five{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center; 
    justify-content: center; 
    position: relative;

}
.widget-one .intro, .widget-two .intro, .widget-three .intro, .widget-four .intro, .widget-four .intro .heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 30px;
    text-align: center;
    align-items: center;
}
.widget-one .intro .heading, .widget-two .intro .heading, .widget-three .intro .heading, .widget-four.intro .heading, .widget-five.intro .heading {
    font-size: 33px;
    font-weight: 700;
    line-height: 43.2px;
    text-align: center;
    color: #FFFFFF;

}
.widget-five .intro img{
    width: 100%;
}
.widget-one .intro .description, .widget-two .intro .description, .widget-three .intro .description,.widget-four .intro .description, .widget-five .intro .description {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    


}
.widget-one .list, .widget-two .list, .widget-three .list , .widget-four .list {
    justify-content: center;
    
}
.widget-one .list-item, .widget-two .list-item, .widget-three.list-item, .widget-four.list-item {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;

}
.widget-one .list-item{
    color: #6962FF;
}

.widget-two .list-item{
    color: #00BE90;
}
.widget-three .list-item{
    color: #7C57F5;
}
.widget-four .list-item{
    color: #ED5B7B;
}
.widget-one .row-images, .widget-two .row-images, .widget-three .row-images, .widget-four .row-images{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.widget-four .row-images{
    gap: 8px;
    width: 100%;
}

.widget-three .container .sub-container-one{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.widget-one.sub-container, .widget-two .sub-container {
    gap: 8px;
}
.widget-one .row-images .container-one,.widget-one .row-images .container-two,.widget-one .row-images .container-three, .widget-two .row-images .container, .widget-three .row-images .container{
    width: 100%;
    gap: 8px;
    
}
.widget-one .row-images, .widget-two .row-images, .widget-three .row-images {
    gap: 8px;
}

.widget-two .row-images .container{
    width: 100%;
}

.widget-three .row-images .subcontainer{
    gap: 16px;
}
@media screen and (max-width: 1024px) {
    
    .ribbons {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        padding: 0;
    }
    .widget-one .description, .widget-two .description {
    
        padding: 0 20px;
    }
    .widget-one .list, .widget-two .list, .widget-three .list, .widget-four .list {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .widget-one .row-images, .widget-two .row-images,
     .widget-three .row-images, .widget-four .row-images{
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .widget-two .container img{
        width: 100%;
    }
    .widget-one .row-images .container-two .sub-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        }
    .widget-two .row-images .sub-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .widget-one .row-images .container-one{
        display: none;
    }

    .widget-three .container .sub-container-two{
        display: none;
    }
}
