.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative; 
    width: 100%;
}

.ribbons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 23.9px; 
}

.ribbon-item {
    position: relative;
    width: 185px;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF; 
}

.ribbon-item .container {
    position: relative;
    z-index: 9;
}

.ribbon-item .label {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 5px;
}

.rating {
    margin-top: 30px;
}

.rating p {
    font-size: 13px;
    font-weight: 600;
    line-height: 21px;
}

.ribbon-item .store {
    font-size: 13px;
    font-weight: 600;
    line-height: 21px;
    margin-top: 5px; 
}

.ribbon-item img {
    position: absolute;
    width: 100%; 
    height: 100%; 
    z-index: 1; 
}

.widget-one, .widget-two, .widget-three, .widget-four
, .widget-five{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center; 
   align-items: center; 
    position: relative;

}

.widget-one .intro, .widget-two .intro, .widget-three .intro, .widget-four .intro, .widget-four .intro, .widget-five.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;

}
.widget-one .intro .heading, .widget-two .intro .heading, .widget-three .intro .heading, .widget-four.intro .heading, .widget-five.intro .heading {
    font-size: 33px;
    font-weight: 700;
    line-height: 43.2px;
    text-align: center;
    color: #FFFFFF;

}

.widget-one .intro .description, .widget-two .intro .description, .widget-three .intro .description,.widget-four .intro .description, .widget-five .intro .description {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    max-width: 912px;
    text-align: center;

}
.widget-one .list, .widget-two .list, .widget-three .list , .widget-four .list {
    align-items: center; 

}
.widget-one .list-container{
    align-items: center; 
    max-width: 912px;
    

}

.widget-one .list-item, .widget-two .list-item, .widget-three.list-item, .widget-four.list-item {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;

}
.widget-one .list-item{
    color: #6962FF;
}

.widget-two .list-item{
    color: #00BE90;
}
.widget-three .list-item{
    color: #7C57F5;
}
.widget-four .list-item{
    color: #ED5B7B;
}
.widget-one .container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.widget-one .grid-images-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ; 
    gap: 10px;
}


.widget-one .grid-images-container .grid-item-image1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 100%;
    width: 100%;
}

.widget-one .grid-images-container .grid-item-image3 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 100%;
    width: 100%;
}

.widget-one .grid-images-container .grid-item-image2{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    height: 100%;
    width: 100%;
}

.widget-one .grid-images-container .grid-item-image4 {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    height: 100%;
    width: 100%;
}
.widget-one .grid-images-container .grid-item-image5 {
    grid-column: 3/ 5;
    grid-row: 1/ 3;
    height: 100%;
    width: 100%;
}
.widget-one .grid-images-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  
}








.widget-one .row-images, .widget-two .row-images, .widget-three .row-images, .widget-four .row-images{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.widget-four .row-images{
    gap: 8px;
    width: 100%;
}

.widget-three .container .sub-container-one{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.widget-one.sub-container, .widget-two .sub-container {
    gap: 8px;
}
.widget-one .row-images .container-one,.widget-one .row-images .container-two,.widget-one .row-images .container-three, .widget-two .row-images .container, .widget-three .row-images .container{
    width: 100%;
    gap: 8px;
    
}
.widget-one .row-images, .widget-two .row-images, .widget-three .row-images {
    gap: 8px;
}

.widget-two .row-images .container{
    width: 100%;
}

.widget-three .row-images .subcontainer{
    gap: 16px;
}

.widget-five .bucket-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
}

.widget-five .bucket-list .container-one {
    display: flex;
    justify-content: center;
    background-color: #FEF4E7;
    border-radius: 22px 22px 0px 0px;
    width: 100%;
    position: relative;
}

.widget-five .bucket-list .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FEF4E7;
    text-align: center;
    padding-top: 48px;
    max-width: 250px;
}

.grid-item .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item .rating {
    width: 70px;
    height: auto;
    margin-bottom: 5px;
}

.grid-item .description {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    color: #1E1E1E;
    max-width: 200px; 
}

.grid-item .store {
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    margin-top: 5px; 
}


.widget-five .bucket-list .container-two{
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1;
    position: relative;
    

}

.widget-five .bucket-list .container-two .heading{
    font-size: 33px;
    font-weight: 700;
    line-height: 43.2px;
    width: 293px;
    margin-left: 40px;
    margin-top: 39px;
    color: #FFFFFF;





}
.widget-five .bucket-list .container-two .description{
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-top: 40px;
    margin-left: 40px;
    color: #FFFFFF;
    max-width: 300px;

  
  
    
}
.widget-five .bucket-list .container-two .create-button{
    margin-left: 40px;  
    border-radius: 30px 30px 30px 30px;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    font-size: 17px;
    font-weight: 600;
    line-height: 60px;
    text-align: left;
    color: #27325E;
    padding: 0px 30.89px 0px 30px;
    width: 243px;
    height: 60px;
  
    
}


.widget-five .bucket-list .container-two .image{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 22px 22px;



}

@media screen and (max-width: 1024px) {
    
    .ribbons {
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
   
    .widget-one .list, .widget-two .list, .widget-three .list, .widget-four .list {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .widget-one .grid-images-container {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 10px;
    }
    
    
    .widget-one .grid-images-container .grid-item-image3 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        height: 100%;
        width: 100%;
    }
    .widget-one .grid-images-container .grid-item-image4{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        height: 100%;
        width: 100%;
    }
    .widget-one .grid-images-container .grid-item-image5{
  
    }
    .widget-one .grid-images-container .grid-item-image1,.grid-item-image2 {
        display: none;
    }


    
    .widget-one .row-images, .widget-two .row-images,
     .widget-three .row-images, .widget-four .row-images{
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

   
    widget-two .container img{
        width: 100%;
    }
    .widget-one .row-images .container-two .sub-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        }
    .widget-two .row-images .sub-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .widget-one .row-images .container-one{
        display: none;
    }

    .widget-three .container .sub-container-two{
        display: none;
    }
    
    .widget-five .bucket-list .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
